<ion-header [translucent]="true">
  <ion-toolbar class="prof">
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-toolbar class="back">
      <ion-title size="large" class="lit">ALBUM</ion-title>
      <ion-img src="assets/pic/pic8.jpg"></ion-img>
      <ion-img src="assets/pic/pic3.jpg"></ion-img>
      <ion-img src="assets/pic/pic4.jpg"></ion-img>
      <ion-img src="assets/pic/pic5.jpg"></ion-img>
      <ion-img src="assets/pic/pic6.jpg"></ion-img>
      <ion-img src="assets/pic/pic2.jpg"></ion-img>
    </ion-toolbar>
  
</ion-content>
