<ion-header [translucent]="true">
  <ion-toolbar class="prof">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-toolbar class="back">
    <h4>Personal Information</h4>
    <ion-img src="assets/pic/pic1.jpg"></ion-img>
    <h5>Name: Cherlyn V. Tizon</h5>
    <h5>Address: Brgy. Banawang Tunga, Leyte</h5>
    <h5>Birthdate: March 18, 1995</h5>
    <h5>Age: 25 yrs. old</h5>
    <h5>Sex: Female</h5>
    <h5>Status: Married</h5>
    <h5>Religion: Catholic</h5>
    </ion-toolbar>
  
</ion-content>
