<ion-header [translucent]="true">
  <ion-toolbar class="prof">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
    <ion-toolbar class="back">
    
      <ion-title size="large" class="lit">Contact Information</ion-title>
      <br><br>
    <h5>Facebook: Cherlyn V. Tizon</h5>
    <h5>Gmail: cherlyn.tizon@gmail.com</h5>
    <h5>Instagram: cherlyn11</h5>
    <h5>Snapchat: ayesha121</h5>
    <h5>Phone No: 09234677894</h5>
    </ion-toolbar>
  
</ion-content>
